*{
	margin:0;
}

body{
	background:#C3E5F9;
	color:white;
	font-size:16px;
	font-family:Arial;
}

div{
	width:100%;
}

.columna1{
	background:#12A89D;
}

.columna2{
	background:#B30F2A;
	width:40%;
}

.columna3{
	background:#1C4583;
}